html
    head
    body
        h1 Welcome to post page
        form(method="POST" action="/post/addPost")
            label 제목
            input(type="text" name="title")
            br
            label 내용
            input(type="text" name="content")
            button(type="submit") 글작성

        each val in list
            div
                p= `제목:${val.title}`
                p= `내용:${val.content}`
                a(href=`/post/${val.id}/getPost`) 이동 